# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Intellij IDE
.idea/

# Editor backup files
*~

# Rust artifacts
/target
/Cargo.lock

# Program binaries
/evm2near
/evm2near-macos
/evm2near-*-*
/evmlib.wasi
/evmlib.wasm

# NEAR testchain
neardev/
